// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Varela+Round&display=swap");

// Fonts
$title-font: "Leckerli One", cursive;
$main-font: "Varela Round", sans-serif;

// Color themes
$main-color: rgb(253, 205, 213);
$accent-color: rgb(245, 253, 169);

// Page sizing
$navbar-height: 100px;
