@use 'variables';

#footer {
    padding: 32px;
    width: 100%;
    background: variables.$accent-color;
    text-align: center;
    font-family: variables.$title-font;
    font-size: 1.5rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));

}