@use "constants";

#home {
	min-height: calc(100vh - #{constants.$navbar-height});
    background: constants.$main-color;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 64px;

	#image-container {
		#image-wrapper {
			overflow: hidden;
			border-radius: 30px;
			filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.8));
		}

        #main-title {
			font-family: constants.$title-font;
            font-size: 2.5rem;
            text-align: center;
		}
	}

	#recent-posts-container {
		display: flex;
		flex-direction: column;

		#recent-posts-header {
			font-size: 2rem;
			letter-spacing: 1px;
			font-family: constants.$main-font;
			text-decoration: underline;
			text-align: center;
		}

		#recent-posts-list {
			list-style: none;
			padding-left: 0;
		}

		#see-more-link {
			font-family: constants.$main-font;
			font-size: 1rem;
            text-align: right;
		}
	}
}

@media (hover: hover) {
	#home > #recent-posts-container > #see-more-link:hover {
		text-decoration: underline;
	}
}
