@use "constants";

#navbar {
    height: constants.$navbar-height;
    width: 100%;
    background: constants.$accent-color;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));

    #site-title {
        font-family: constants.$title-font;
        font-size: 3rem;
    }

    #link-container {
        width: 300px;
        display: flex;
        justify-content: space-between;

        .nav-link {
            font-family: constants.$main-font;
            letter-spacing: 1px;
            font-size: 1.2rem;
        }
    }
}
