@use "constants";

.recent-post-card {
	background: rgb(253, 226, 230);
	border-radius: 30px;
	margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

	.card-container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 16px 32px;

		.image-container {
			border-radius: 10px;
			overflow: hidden;
			margin-right: 32px;
		}

		.content-container {
			width: 450px;

			.post-title {
				font-family: constants.$title-font;
				margin: 0;
				margin-right: 32px;
				font-size: 1.5rem;
			}

			.post-timestamp {
				font-family: constants.$main-font;
				font-size: 1rem;
			}

			.post-body {
				font-family: constants.$main-font;
				font-size: 1rem;
                word-wrap: break-word;
			}
		}
	}
}

@media (hover: hover) {
	.recent-post-card:hover {
		transition: all 0.2s ease;
		transform: scale(1.05);
		filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
	}
}
